<article class="card">
  <a href="/save">
    <img
      class="card__background"
      src="./assets/water_clean.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
  </a>
    
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Save Water</h2>
        <p class="card__description">
          Caring for water is caring for every living being on earth including humans.
        </p>
      </div>
    </div>
  </article>