<article class="card">
  <a href="/waste">
    <img
      class="card__background"
      src="./assets/water_polution.jpg"
      alt=""
      width="1920"
      height="2193"
    />
  </a>
    
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Waste Water</h2>
        <p class="card__description">
          Today you save gold and waste water; tomorrow you will give gold to buy water.
        </p>
      </div>
    </div>
  </article>