
<div class="logo">
    <a href="/"><img src="./assets/logo1.png" alt=""></a>
</div>

<header>
    <nav>
        <ul class="nav_links">
            <li><a href="#">Associates</a></li>
            <li><a href="about">About</a></li>
            <li><a href="login">Login</a></li>
            
        </ul>
    </nav>
</header>