<div class="projcard-container">
    
    <div class="projcard">
      <div class="projcard-innerbox">
        <video autoplay loop muted plays-inline class="back-video">
          <source src="./assets/water_infinit.mp4" type="video/mp4">
        </video>
        <div class="projcard-textbox">
          <div class="projcard-title">Drinkable Water Is Not Infinit</div>
          <div class="projcard-subtitle">Waste it at your peril</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">97.5% of the world’s water is locked in seas and oceans, too salty for human use. And most of the remaining 2.5% is in the ice caps.</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
    <div class="projcard box">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/thi.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">People Are Thirsty</div>
          <div class="projcard-subtitle">In Morocco And worldwide</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">About two billion people worldwide don’t have access to safe drinking water today</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
    <div class="projcard box">
      <div class="projcard-innerbox">
        <video autoplay loop muted plays-inline class="back-video">
          <source src="./assets/no_water1.mp4" type="video/mp4">
        </video>
        <div class="projcard-textbox">
          <div class="projcard-title">Our Country Is Dry</div>
          <div class="projcard-subtitle">This Is The Fourth Year Of Drought</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">The situation worsened in 2024. Moroccan officials have called the situation “disastrous” noting that nearly 70 percent less rain has fallen in the past few months compared to an average year.</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
    <div class="projcard box">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/waste.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">You Are Not Only Wasting Water</div>
          <div class="projcard-subtitle">You Are Also Wasting The Planet</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">90% of sewage in developing countries is discharged untreated directly into water bodies. Every day 2 million tonnes of sewage and other effluents drain into the world's water. Industry discharges an estimated 300-400 megatonnes of waste into water bodies every year.</div>
          <div class="projcard-tagbox">
            
          </div>
        </div>
      </div>
    </div>
    
  </div>