<div class="projcard-container">
    
    <div class="projcard projcard-blue">
      <div class="projcard-innerbox">
        <video autoplay loop muted plays-inline class="back-video">
          <source src="./assets/thirsty.mp4" type="video/mp4">
        </video>
        <div class="projcard-textbox">
          <div class="projcard-title">Our Children Will Need Water Too</div>
          <div class="projcard-subtitle">You Choose To Leave It For Them</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Over two billion people live in countries where water supply is inadequate. Half of the world's population could be living in areas facing water scarcity by as early as 2025. Some 700 million people could be displaced by intense water scarcity by 2030.</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
    <div class="projcard projcard-red box">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/Drinkable.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">Life As We Know It Depends On Water</div>
          <div class="projcard-subtitle">Future wars will be fought over water</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Water is at the core of sustainable development and is critical for socio-economic development, healthy ecosystems and for human survival itself. It is vital for reducing the global burden of disease and improving the health, welfare and productivity of populations.</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
    <div class="projcard projcard-green box">
      <div class="projcard-innerbox">
        <video autoplay loop muted plays-inline class="back-video">
          <source src="./assets/monkey.mp4" type="video/mp4">
        </video>
        <div class="projcard-textbox">
          <div class="projcard-title">There Is No Wild Life Without Water</div>
          <div class="projcard-subtitle">No Cell Can Survive without Water</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Water is directly involved in many chemical reactions to build and break down important components of the cell. Photosynthesis, the process in plants that creates sugars for all life forms, requires water. Water also participates in building larger molecules in cells.</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
    <div class="projcard box">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/desertification.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">Nature Depends On Water</div>
          <div class="projcard-subtitle">Every Sterile Deset On Earth Was Once A Fortile Forest</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Less water going down the drain means more water available in the lakes, rivers and streams that we use for recreation and wildlife uses to survive. Using water more efficiently helps maintain supplies at safe levels, protecting human health and the environment.</div>
          <div class="projcard-tagbox">
          </div>
        </div>
      </div>
    </div>
    
  </div>