<html lang="en">
    <%- include('./partials/header.ejs') %>
<body style="background-color: #e7e4ea; text-align: center; max-height: 50%;">
    <h1 style="margin-top: 10%; font-size: 100px;">Error 404</h1>
    <a href="/"><img src="assets/404icon.png" width="400px" alt=""></a>
</body>
</html>