<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <style>
        body{
            background-image: url('./assets/faucet.jpg');
            background-size: cover;
            background-position: 0%;
        }
        .about h2{
            color: #ffffff;
            
        }
        .about img{
            width: 200px;
            transition: all 0.5s ease-out;
        }

        .about img:hover {
            transform: scale(1.5);
            transition: all 0.5s ease-in;
        }

        .about a {
            font-size: 30px;
            color: rgb(255, 255, 255);
        }

        .about a:hover {
            font-size: larger;
        }

    </style>
</head>

<body style="background-color: #e7e4ea;">
    <div class="logo">
        <a style="position: fixed;" href="/"><img src="./assets/logo1.png" alt=""></a>
    </div>

    <div style=" position: relative;top: 150px; text-align: center;" class="about">
        <!-- <h1>About</h1> -->
        <h2>A project by <a href="https://www.instagram.com/mohcineotmane/">MOHCINE OTMANE</a></h2>
        <a href="https://www.instagram.com/digitalsmedia.ma/"><img src="./assets/dm.png" alt=""></a>
        <h2>Authentic</h2>
    </div>
    
</body>
</html>