<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <style>
        body {
            display: flex;
            justify-content: center;
            background-image: url('./assets/leeves1.jpg');
            background-size: cover;
            
            backdrop-filter: blur(11.6px);
            -webkit-backdrop-filter: blur(11.6px);
        }

        .prof-container {
            margin-top: 100px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        }

        .prof-container img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .names {
            background-color: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>

</head>
<body>
    <div class="logo">
        <a style="position: fixed;" href="/"><img src="./assets/logo1.png" alt=""></a>
    </div>
    <div class="prof-container">
        <img src="./assets/hacker.jpg" width="400" alt="">
        <div class="names">
            <h3>Username: Hacker Man</h3>
            <h3>Permission: Admin</h3>
        </div>

    </div>
</body>
</html>