<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<h1>Home</h1>
		<h2>Your path to become Node.JS Developer</h2>
		<%- include('./partials/nav.ejs') %>
		<div class="not-found content">
			OOPS, Page not found :)
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>