<nav>
	<div class="site-title">
	<a href="/">Node Home page</a>
	<a href="/about">About page</a>
	<p>Node Website</p>
</div>
<ul>
	<li><a href="/">Blogs</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/blogs/create">New Blog</a></li>
</ul>
</nav>